.card {
  background: white;
  padding: 24px;
  border-radius: 18px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, .05);
  display: flex;
  flex-direction: column;
  gap: 18px;
  transition: .3s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top h4 {
  margin: 0;
  font-size: 15px;
  color: #64748B;
}

.top h2 {
  margin-top: 10px;
  font-size: 32px;
  color: #111827;
}

.icon {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  background: #EFF6FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
