.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #111827;
}

.header p {
  margin-top: 6px;
  font-size: 14px;
  color: #64748B;
}

.button {
  background: none;
  border: none;
  color: #2563EB;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: .3s;
}

.button:hover {
  opacity: .8;
}
