.overview-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:18px;

margin-top:20px;

}

.overview-item{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px;

border-radius:12px;

background:#F8FAFC;

transition:.3s;

}

.overview-item:hover{

background:#EEF2FF;

}

.overview-item h4{

font-size:15px;

margin-bottom:6px;

color:#64748B;

}

.overview-item p{

font-size:22px;

font-weight:700;

}

.online-dot{

width:14px;

height:14px;

border-radius:50%;

background:#10B981;

}
