.view-template{

display:flex;

flex-direction:column;

gap:25px;

}

.info-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:25px;

}

.info-grid label{

display:block;

font-size:14px;

font-weight:600;

margin-bottom:8px;

color:#64748B;

}

.info-grid p{

margin:0;

font-size:16px;

font-weight:500;

color:#111827;

}

.full{

grid-column:1/-1;

}

.action-buttons{

display:flex;

justify-content:flex-end;

gap:15px;

}
