.card {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 18px;
  border-radius: 14px;
  transition: .3s;
  cursor: pointer;
}

.card:hover {
  background: #F8FAFC;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info h4 {
  margin: 0;
  font-size: 15px;
  color: #111827;
}

.info p {
  margin-top: 5px;
  color: #64748B;
  font-size: 13px;
}
