.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.title {
  margin: 0;
  font-size: 34px;
  font-weight: 700;
  color: #111827;
}

.subtitle {
  margin-top: 8px;
  font-size: 16px;
  color: #64748B;
  line-height: 1.6;
}
